        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        /* For Background */
        
        body {
            background: rgb(24, 24, 28);
            background: radial-gradient(circle, rgba(24, 24, 28, 1) 45%, rgba(23, 21, 21, 1) 99%);
        }
        /* For Scoring Part */
        
        .score-div {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
            margin-top: 20px;
        }
        
        h3,
        span {
            font-size: 60px;
            color: whitesmoke;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
        /* Playing Area Grid */
        
        .grid {
            display: flex;
            flex-wrap: wrap;
            height: 400px;
            width: 300px;
            margin: 0 auto;
        }